/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
arshoptical.com-files.tar.gz
/arshoptical.com-files.tar.gz


/node_modules
/public/hot
/public/image
/public/assets/images
/public/pdf
/public/uploads
/public/xxinstall
error_log
/storage/*.key
/vendor
composer.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/images/product
/.phpunit.cache
/public/build
/public/storage
.env.production
auth.json
/.fleet
/.idea
/.vscode
/public/assets
/public/assets/
/public/assets/images/*
/public/assets/*
/public/main/
/database/sql/**.tar.gz
*.zip
*.rar

node_modules
public/hot
public/image
public/assets/images
public/pdf
public/uploads
public/xxinstall